{% extends 'base.html'%}

{% block title %}Blogly{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="display-3 col-6 text-center">Blogly Recent Posts</div>
    </div>

    {% for post in posts%}

    <div class="row justify-content-center">
        <div class="card mt-3 col-6">
            <div class="card-body">
                <a href="/posts/{{post.id}}" class="text-dark"><div class=" h2 mb-4 text-center">{{post.title}}</div></a>

                <div class="row justify-content-center my-2">
                    <p class="col-6 text-center font-weight-bold">{{post.content}}</p>
                </div>

                <div class="row justify-content-center my-2">
                    <div class="col-6 text-center">
                        <b>Tags:</b>
                        {% for tag in post.tags %}
                        <a href="/tags/{{tag.id}}"><span class="badge text-bg-primary">{{tag.name}}</span></a>
                        {% endfor %}
                    </div>
                </div>

                <div class="row justify-content-center">
                    <i class="text-center">By <a href="/users/{{post.author.id}}" class="link-dark">{{post.author.full_name}}</a> on {{post.date_posted}}</i>
                </div>
            </div>
        </div>
    </div>

    
    {% endfor %}
</div>

{% endblock %}